@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');

:root{
    --primary-100:#8B0000;
    --primary-200:#c2402a;
    --primary-300:#feded3;
    --accent-100:#FF6347;
    --accent-200:#8d0000;
    --text-100:#000000;
    --text-200:#565656;
    --bg-100:#E9E9E9;
    --bg-200:#dfdfdf;
    --bg-300:#b7b7b7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colores inspirados en la imagen */
body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    background-color: var(--bg-100);
    color: var(--text-100);
    overflow-x: hidden;
}

.fondo {
    background-image: url('https://images.pexels.com/photos/12150888/pexels-photo-12150888.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 4px;
    margin: 0 auto;
    border-radius: 1rem;
    position: sticky;
    top: 0px;
    z-index: 100;
    margin-top: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

header a {
    text-decoration: none;
    color: var(--text-100);
}

.logo {
    width: 48px;
    height: 48px;
    padding: 4px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--bg-200);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

.logo:hover {
    cursor: pointer;
    border: 2px solid var(--primary-100);
}

.logo img {
    width: 100%;
    object-fit: cover;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    flex-basis: 300px;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: var(--text-100);
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    width: 100%;

}

nav ul li a:hover {
    color: var(--primary-100);
    border-bottom: 2px solid var(--primary-100);
}

.social {
    display: flex;
    gap: 1rem;
}

.social a {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    padding: 4px;
}

.social a:hover {
    background-color: var(--primary-100);
    color: var(--bg-100);

}

.home {
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--primary-100);
    gap: 2rem;
}

.home h1 {
    font-size: 6rem;
    font-family: "Playwrite HU", sans-serif;
}

.home a {
    background-color: var(--primary-100);
    color: var(--bg-100);
    padding: 10px 2rem;
    border-radius: 1rem;
    text-decoration: none;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.home a:hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--primary-100);
    border: 2px solid var(--primary-100);
}

.visit {
    margin-top: 6rem;
}

.item {
    position: relative;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.item:nth-child(2n) {
    flex-direction: row-reverse;
}

.number {
    position: absolute;
    top: -40px;
    right: -30px;
    font-size: 6rem;
    font-weight: bold;
    color: var(--primary-100);
    font-style: oblique;
    opacity: .3;
}

.number-2 {
    position: absolute;
    top: -40px;
    left: -30px;
    font-size: 6rem;
    font-weight: bold;
    color: var(--primary-100);
    font-style: oblique;
    opacity: .3;
}

.image {
    width: 600px;
    height: 400px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.text {
    max-width: 600px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.text h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-100);
    font-family: "Playwrite HU", sans-serif;
}

footer {
    background-color: var(--bg-200);
    color: var(--text-100);
    padding: 2rem;
    text-align: center;
    width: 100%;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.team h3 {
    font-weight: bold;
    color: var(--primary-100);
    font-family: "Playwrite HU", sans-serif;
}

.team ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    font-weight: bold;
}

.team a {
    text-decoration: none;
    color: var(--text-100);
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    width: 100%;
}

.team a:hover {
    cursor: pointer;
    color: var(--primary-100);
    border-bottom: 2px solid var(--primary-100);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2rem;
}

.footer-container p {
    flex: 1;
    margin-right: 4.5rem;

}

.tituloHistoria {
    text-align: center;
    font-size: 2.5em;
    margin-top: 30px;
    color: var(--primary-100);
}

.linea-tiempo-barra {
    position: absolute;
    left: 50px;
    top: 0;
    width: 6px;
    height: 100%;
    background: var(--primary-100);
    border-radius: 4px;
    z-index: 0;
}

.historia {
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 30px 40px;
}

.historia h2 {
    color: var(--primary-200);
    margin-top: 24px;
    font-size: 1.5em;
}

.historia p {
    color: var(--text-100);
    font-size: 1.1em;
    line-height: 1.7;
    margin-bottom: 18px;
}

.item-linea-tiempo {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
    margin-bottom: 30px;
}

.punto-fecha-linea-tiempo {
    position: relative;
    min-width: 200px;
    display: flex;
    align-items: flex-start;
    text-align: center;
    margin-top: 70px;
}

.punto-linea-tiempo {
    position: absolute;
    left: -17px;
    width: 22px;
    height: 22px;
    background: var(--primary-100);
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.10);
    margin-top: 3px;
}

.fecha-linea-tiempo {
    color: var(--primary-100);
    font-weight: bold;
    font-size: 1.1em;
    padding: 2px 10px;
    border-radius: 8px;
}

.articulo-historia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding: 18px 24px;
    width: 100%;
}

.imagen-historia {
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    max-width: 220px;
    min-width: 120px;
    width: 100%;
    height: 120px;
    object-fit: cover;
}

/* Sección principal */
.gastronomia-section {
    padding: 80px 0;
    background-color: var(--bg-100);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    margin-bottom: 60px;
}

.titulo h2 {
    background-color: var(--primary-100);
    font-size: 2.5rem;
    color: white;
    margin-bottom: 10px;
    border-radius: 8px;
}

.titulo p {
    color: var(--text-200);
    font-size: 1.1rem;
}

/* Tarjetas de platos */
.tarjetas {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media (min-width: 768px) {
    .tarjetas {
        flex-direction: row;
    }

    header nav {
        display: none;
    }

    .home div{
        padding: 2rem o;
    }

    .home h1{
        text-align: center;
    }

    .number,
    .number-2{
        top: 0;
        right: 0;
        left: 20px;
    }
    
    .item,
    .item:nth-child(2n){
        flex-direction: column;

    }

    .image{
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }   

    .footer-container p{
        margin-right: 0;
    }
}

.tarjeta {
    background-color: var(--bg-100);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.tarjeta:hover {
    transform: translateY(-5px);
}

.tarjeta img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.contenido {
    padding: 20px;
}

.contenido h3 {
    color: var(--primary-100);
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.contenido p {
    color: var(--text-200);
    font-size: 1rem;
}

.decoracion {
    width: 180px;
    height: 5px;
    background-color: var(--primary-100);
    margin: 60px auto 0;
    border-radius: 5px;
}

/* Eventos */

/* Sección de eventos */
.eventos-section {
    padding: 20px 0;
    background-color: var(--bg-100);
}

.eventos-lista {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media (min-width: 768px) {
    .eventos-lista {
        flex-direction: row;
    }
}

.evento {
    background-color: var(--bg-100);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    flex: 1;
}

.evento:hover {
    transform: translateY(-5px);
}

.evento img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.evento .contenido {
    padding: 20px;
}

.evento h3 {
    color: var(--primary-200);
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.evento p {
    color: var(--text-200);
    font-size: 1rem;
}
